/*Custom Classes***/
.style-nav-item {
  text-decoration: line-through #f65291;
  opacity: 1;
  cursor: default;
  background: #f652911c;
  border: 1px solid #f65291;
  border-radius: 3px;
}
/***Custom Classes*/
