.footer-div {
  height: 10vh;
  width: 100vw;
  font-size: 0.7em;
  color: rgba(255, 255, 255, 0.836);
  background-color: #11082cd2;
  display: flex;
  justify-content: center;
  align-items: center;
}
